@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.inner-container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  background-color: var(--secondary-text);
}

.main {
  background: url("../images/main-bg.jpg") no-repeat center center/cover;
}

.border {
  width: 536px;
  height: 0px;
  stroke-width: 1px;
  stroke: #000;
  background-color: var(--background-text-primary);
}