*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat Alternates, sans-serif;
}

ul, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.inner-container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
}

.main {
  background: url("main-bg.e5d47ab2.jpg") center / cover no-repeat;
}

.header {
  padding: 21px 0;
}

.header .inner-container {
  width: 100%;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-left {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-left__link {
  margin-right: 81px;
}

.header-left__logo {
  width: 93px;
  height: 38px;
}

.header-list {
  width: 220px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-list__link {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-right {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 51px;
  display: flex;
}

.header-right__btn {
  width: 40px;
  height: 20px;
  background-color: #7a7a7a;
  border-radius: 11px;
  position: relative;
}

.header-right__text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-right-btn-div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: left 75ms linear;
  position: absolute;
  top: 0;
  left: 0;
}

.header-right-btn-div.clicked {
  background-color: #000;
  left: 20px;
}

.drop-down {
  position: relative;
}

.drop-menu {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  display: flex;
}

.drop-menu__img {
  width: 12px;
  height: 7px;
  display: inline-block;
}

.drop-menu__text {
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.dropdown-menu {
  opacity: 0;
  text-align: center;
  width: 160px;
  height: 105px;
  pointer-events: none;
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  gap: 20px;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 100%;
  left: -35px;
}

.dropdown-menu__item {
  height: 35px;
}

.dropdown-menu__item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu__item:nth-child(3) {
  border-radius: 0 0 20px 20px;
}

.dropdown-menu__link {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

/*# sourceMappingURL=index.b07a87f3.css.map */
