<section class="number section" id="biggest-number">
    <div class="inner-container">
        <h2 class="number__title">Введіть 3 числа</h2>
        <div class="number__form">
            <input class="number__form--input" type="number" placeholder="Введіть число"></input>
            <input class="number__form--input" type="number" placeholder="Введіть число"></input>
            <input class="number__form--input" type="number" placeholder="Введіть число"></input>
        </div>
        <p class="number__paragraph">Найбільше число, яке ви ввели - (<span id="biggestNumber">число</span>)</p>
        <hr class="border" />
    </div>
</section>
