<section class="number">
    <div class="inner-container">
      <h2 class="number__title">Введіть 3 числа</h2>  
        <form class="number-form">
            <input class="number-form__input" type="text" placeholder="Введіть число"></input>
            <input class="number-form__input" type="text" placeholder="Введіть число"></input>
            <input class="number-form__input" type="text" placeholder="Введіть число"></input>
        </form>
        <p class="number__paragraph">Найбільше число, яке ви ввели - (число)</p>
        <div class="border"></div>
    </div>
</section>
