<section class="num">
    <div class="inner-container">
      <h2 class="num__title">Введіть 3 числа</h2>  
        <form>
            <input class="num__imput" type="text" placeholder="Введіть число"></input>
            <input class="num__imput" type="text" placeholder="Введіть число"></input>
            <input class="num__imput" type="text" placeholder="Введіть число"></input>
        </form>
        <h3 class="num__biggest--number">Найбільше число, яке ви ввели - (число)</h3>
    </div>
</section>