<section class="calculator">
  <h5 class="calculator__title">Калькулятор</h5>
  <input type="number" class="calculator__number--first" />
  <ul class="calculator-operators-list">
    <li class="caculator-operators-list__item"><button>+</button></li>
    <li class="caculator-operators-list__item"><button>*</button></li>
    <li class="caculator-operators-list__item"><button>-</button></li>
    <li class="caculator-operators-list__item"><button>/</button></li>
  </ul>
  <input type="number" class="calculator__number--second" />
  <button class="calculator-result__button">=</button>
  <div class="result-container">
    <p class="calculator__result">Результат</p>
  </div>
  <div class="border"></div>
</section>
