<section class="dinosaur" id="dinosaur">
  <div class="inner-container">
    <h2 class="dinosaur__title">Google динозавр</h2>
    <div class="dinosaur__container">
      <img class="dinosaur__dino" src="./images/dino.png" alt="dino" />
      <img class="dinosaur__cactus" src="./images/cactus.png" alt="cactus" />
      <p class="dinosaur__points">0</p>
      <img class="gameOverMessage" id="gameOverMessage" src="./images/game-over.png">
      <button id="startOver"><img src="./images/reset.png" alt="reset"></button>
    </div>
    <hr class="border" />
  </div>
</section>
