<section class="guess-number">
  <h1 class="guess-number-title">Вгадай число, яке загадав комп'ютер</h1>
  <div class="inner-container">
    <div class="guess-number-content">
      <div class="input-container">
        <input type="number" id="number-input" placeholder="Введіть число" />
        <button class="guess">
          <img src="/src/images/search-loop.svg" alt="loop" />
        </button>
      </div>
      <p class="message_numb" id="message_numb"></p>
    </div>
  </div>
  <hr class="border" />
</section>
