<header class="header">
  <div class="inner-container">
    <div class="header-left">
      <a href="#">
        <img src="./images/logo.svg" alt="logo" />
        <span class="header-left__span">Coding</span>
        <span class="header-left__text">Magic</span>
      </a>

      <ul class="header-list">
        <li>
          <a href="#" class="header-list__link"
            >Інтерактив
            <svg>
              <use href="./images/symbol-defs.svg#arrow-down"></use>
            </svg>
            <ul class="dropdown-menu">
              <li class="dropdown-menu__item">
                <a href="#" class="dropdown-menu__link">Числовий</a>
              </li>
              <li class="dropdown-menu__item">
                <a href="#" class="dropdown-menu__link">Ігровий</a>
              </li>
              <li class="dropdown-menu__item">
                <a href="#" class="dropdown-menu__link">Ознайомчий</a>
              </li>
            </ul>
          </a>
        </li>
        <li>
          <a href="#" class="header-list__link">Наша команда</a>
        </li>
        <li>
          <a href="#" class="header-list__link">Контакти</a>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <button class="header-right__btn">
        <div class="header-right-btn__img">
          <img src="./images/light.svg" alt="" />
        </div>
      </button>
      <p class="header-right__text">
        Вітаємо, <span id="userName">User</span>!
      </p>
    </div>
  </div>
</header>
