<header class="header">
  <div class="inner-container">
    <div class="header-left">
      <a href="#">
        <!-- svg -->
      </a>

      <ul class="header-list">
        <li>
          <a href="#" class="header-list__link"
            >Інтерактив
            <!-- svg -->
          </a>
        </li>
        <li>
          <a href="#" class="header-list__link">Наша команда</a>
        </li>
        <li>
          <a href="#" class="header-list__link">Контакти</a>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <button class="header-right__btn">
        <div class="header-right-btn__img">
          <!-- svg з міняючимись src -->
        </div>
      </button>
      <p class="header-right__text">Вітаємо, <span id="userName">User</span>!</p>
    </div>
  </div>
</header>
