<section class="backdrop is-hidden footer-modal">
  <div id="modal_2" class="modal_2">
    <div class="inner-container">
      <p class="thank_modal">Дякую за підписку!</p>
      <button class="modal__close-footer modal__close">
        <img src="./images/close-icon.svg" />
      </button>
      <div class="icons_modal">
        <img class="modal_sword modal_img" src="/src/images/sword.svg" />
        <img class="modal_puzzle modal_img" src="/src/images/puzzle.svg" />

        <img
          class="modal_game modal_img"
          src="/src/images/game-development.svg"
        />
        <img class="modal_toe modal_img" src="/src/images/tic-tac-toe.svg" />
      </div>
    </div>
  </div>
</section>
