<div id="modal" class="modal">
    <div class="modal-content">
      <span class="span_modal-close"><svg><use src="./images/close-icon.svg"></use></svg></span>
          <section class="section_modal">
  <p class="p_modal">Привіт!</p>
  <p class="p_modal-text">
      Ви потрапили на сайт інтерактивних ігор та завдань
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
      Бажаємо Вам гарно провести час!</p></section>
      <svg class="modal_svg-sword">
        <use href="./images/sword.svg"></use>
    </svg>
    <svg class="modal_svg-gamedeveloper">
        <use href="./images/game-development.svg"></use>
    </svg>
    <svg class="modal_svg-puzzle">
        <use href="./images/puzzle.svg"></use>
    </svg>
    <svg class="modal_svg-tictactoe">
        <use href="./images/tic-tac-toe.svg"></use>
    </svg>
      <p class="p_modal-name">Ведіть своє ім'я:</p>
      <input class="modal_input"
            placeholder="Ваше ім’я..."
          />
      <button class="modal_button">Зберегти</button>
    </div>
  </div>