<section id="modal" class="modal">
  <div class="inner-container">
    <span class="modal__close"
      ><svg><use src="./images/close-icon.svg"></use></svg></span>
    <div class="modal-content">
      <p class="modal-content__text">
        Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що
        вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
        провести час!
      </p>
      <p class="modal-content__name">Ведіть своє ім'я:</p>
      <input class="modal-content__input" placeholder="Ваше ім’я..." >
    </div>
      <button class="modal-content__button">Зберегти</button>

    <img class="modal__svg sword" src="./images/sword.svg" />
    <img
      class="modal__svg game-development"
      src="./images/game-development.svg"
    />
    <img class="modal__svg puzzle" src="./images/puzzle.svg" />
    <img class="modal__svg tic-tac-toe" src="./images/tic-tac-toe.svg" />
  </div>
</section>
