<h2 class="h2_slider">Наша команда</h2>
<div class="slider-container">
    <button>Previous</button>
    <div class="team_slider">
        <div class="slide">
            <p class="slide_p-name">Влад</p>
            <p class="slide_p">Він тім-лід команди, він  
        <div class="slide">
            <p class="slide_p-name">Максим</p>
            <p class="slide_p">Він qe команди, він зробив гру камінь-ножиця-паір, калькулятор і footer</p>
        </div>
        <div class="slide">
            <p class="slide_p-name">Тім</p>
            <p class="slide_p">Він pm команди, він зробив калькулятор і ведіть 3 числа</p>
        </div>
        <div class="slide">
            <p class="slide_p-name">Саша</p>
            <p class="slide_p">Він розробник команди, він зробив модалку 1, гугл дінозаврик і наша команда слайдер</p>
        </div>
        <div class="slide">
            <p class="slide_p-name">Юра</p>
            <p class="slide_p">Він розробник команди, він зробив модалку 2, перевір в який рік ти народився і вгадай число</p>
        </div>
    </div>
    <button>Next</button>
</div>