<section class="slider" id="slider">
  <div class="inner-container">
    <h2 class="slider__title">Наша команда</h2>
    <button type="button" class="button-previous">
      <img class="button-img img-previous" src="./images/arrow-left.svg" />
    </button>
    <ul class="slider-list">
      <li class="slider-list__slide">
        <div class="slider-list__box"></div>
        <p class="slider-list__name">Влад</p>
        <p class="slider-list__info">
          Він тім-лід команди, він зробив header, футбол і обери вченого.
        </p>
      </li>
      <li class="slider-list__slide">
        <div class="slider-list__box"></div>
        <p class="slider-list__name">Максим</p>
        <p class="slider-list__info">
          Він QA команди, він зробив гру камінь-ножиці-папір, калькулятор і footer.
        </p>
      </li>
      <li class="slider-list__slide">
        <div class="slider-list__box"></div>
        <p class="slider-list__name">Тім</p>
        <p class="slider-list__info">
          Він PM команди, він зробив калькулятор і введіть 3 числа.
        </p>
      </li>
      <li class="slider-list__slide">
        <div class="slider-list__box"></div>
        <p class="slider-list__name">Саша</p>
        <p class="slider-list__info">
          Він розробник команди, він зробив модалку 1, гугл динозаврик і слайдер наша команда.
        </p>
      </li>
      <li class="slider-list__slide">
        <div class="slider-list__box"></div>
        <p class="slider-list__name">Юра</p>
        <p class="slider-list__info">
          Він розробник команди, він зробив модалку 2, перевір в який рік ти народився і вгадай число.
        </p>
      </li>
    </ul>
    <button type="button" class="button-next">
      <img class="button-img img-next" src="./images/arrow-right.svg" />
    </button>
<div class="slider-container">
  <button type="button" class="button-previous">
    <img class="button-img img-previous" src="./images/arrow-left.svg" />
  </button>
  <ul class="slider-list">
    <li class="slider-list__slide">
      <div class="slider-list__box"></div>
      <p class="slider-list__name">Влад</p>
      <p class="slider-list__info">
        Він тім-лід команди, він зробив heder, футбол і обери вченого
        <li class="slider-list__slide">
          <div class="slider-list__box"></div>
          <p class="slider-list__name">Максим</p>
          <p class="slider-list__info">
            Він qe команди, він зробив гру камінь-ножиця-папір, калькулятор і
            footer
          </p>
        </li>
        <li class="slider-list__slide">
          <div class="slider-list__box"></div>
          <p class="slider-list__name">Тім</p>
          <p class="slider-list__info">
            Він pm команди, він зробив калькулятор і введіть 3 числа
          </p>
        </li>
        <li class="slider-list__slide">
          <div class="slider-list__box"></div>
          <p class="slider-list__name">Саша</p>
          <p class="slider-list__info">
            Він розробник команди, він зробив модалку 1, гугл динозаврик і
            слайдер наша команда
          </p>
        </li>
        <li class="slider-list__slide">
          <div class="slider-list__box"></div>
          <p class="slider-list__name">Юра</p>
          <p class="slider-list__info">
            Він розробник команди, він зробив модалку 2, перевір в який рік ти
            народився і вгадай число
          </p>
        </li>
      </p>
    </li>
  </ul>

  <button type="button" class="button-next">
    <img class="button-img img-next" src="./images/arrow-right.svg" />
  </button>
</div>
    <hr class="border" />
  </div>
</section>