<section class="slider">
<div class="inner-container">
    <h2 class="slider__title">Наша команда</h2>
    <span class="button-previous"><svg><use src="./images/arrow-left.svg"></use></svg></span>
    <ul class="slider-list">
        <li class="slider-list__slide">
            <div class="slider-list__box"></div>
            <p class="slider-list__name">Влад</p>
            <p class="slider-list__info">Він тім-лід команди, він зробив heder, футбол і обери вченого 
        <li class="slider-list__slide">
            <div class="slider-list__box"></div>
            <p class="slider-list__name">Максим</p>
            <p class="slider-list__info">Він qe команди, він зробив гру камінь-ножиця-паір, калькулятор і footer</p>
        </li>
        <li class="slider-list__slide">
            <div class="slider-list__box"></div>
            <p class="slider-list__name">Тім</p>
            <p class="slider-list__info">Він pm команди, він зробив калькулятор і ведіть 3 числа</p>
        </li>
        <li class="slider-list__slide">
            <div class="slider-list__box"></div>
            <p class="slide-name">Саша</p>
            <p class="slider-list__info">Він розробник команди, він зробив модалку 1, гугл динозаврик і слайдер наша команда</p>
        </li>
        <li class="slider-list__slide">
            <div class="slider-list__box"></div>
            <p class="slider-list__name">Юра</p>
            <p class="slider-list__info">Він розробник команди, він зробив модалку 2, перевір в який рік ти народився і вгадай число</p>
        </li>
    </ul>
    <span class="button-next"><svg><use src="./images/arrow-right.svg"></use></svg></span>
</div>
</section>