<section class="rock-paper section" id="rock-paper">
  <h5 class="rock-paper__text">Камінь-ножиці-папір</h5>
  <ul class="rock-paper-list">
    <li class="rock-paper-list__item">
      <button class="rock-paper__symbol">
        <svg class="rock-paper__icon"><use></use></svg>
      </button>
    </li>
    <li class="rock-paper-list__item">
      <button class="rock-paper__symbol">
        <svg class="rock-paper__icon"><use></use></svg>
      </button>
    </li>
    <li class="rock-paper-list__item">
      <button class="rock-paper__symbol">
        <svg class="rock-paper__icon"><use></use></svg>
      </button>
    </li>
  </ul>
  <p class="score__text">Рахунок:<br>Комп’ютер - 0<br>Ви - 0</p>
  <p class="rock-paper__result">Ви виграли раунд!</p>
  <button class="computer-option">Варіант комп’ютера</button>
  <div class="border"></div>
</section>
