<section class="rock-paper">
  <h5 class="rock-paper__title">Камінь - ножиці - папір</h5>
  <ul class="rock-paper-list">
    <li class="rock-paper-list__item">
      <button class="rock-paper-list__button" type="button">
        <img class="rock-paper-list__icon" src="./images/stone.svg" alt="stone"></img>
      </button>
    </li>
    <li class="rock-paper-list__item">
      <button class="rock-paper-list__button" type="button">
        <img class="rock-paper-list__icon" src="./images/scissors.svg" alt="scissors"></img>
      </button>
    </li>
    <li class="rock-paper-list__item">
      <button class="rock-paper-list__button" type="button">
        <img class="rock-paper-list__icon" src="./images/paper.svg" alt="paper"></img>
      </button>
    </li>
  </ul>
  <p class="rock-paper-score__text">Рахунок:<br>Комп’ютер - 0<br>Ви - 0</p>
  <p class="rock-paper__result">Ви виграли раунд!</p>
  <button class="rock-paper-computer-option" type="button">Варіант комп’ютера</button>
  <div class="border"></div>
</section>
