<section class="time-calculator">
  <h2 class="time-calculator__title title">Калькулятор часу</h2>
  <div class="inner-container">
    <div class="time-calculator__wrapper">
      <input
        class="time-calculator__wrapper--input"
        type="text"
        id="time"
        placeholder="Введіть число"
      />
      <button class="time-calculator__wrapper--find">
        <img src="./images/search-loop.svg" alt="" />
      </button>
    </div>
    <h3 class="time-calculator__time"></h3>
     <hr class="border" />
  </div>
</section>
