<h1 class="pop_games">Популярні інетрактивні ігри</h1>
<hr class="border" />
<section class="year-check">
  <div class="inner-container">
    <div class="border"></div>

    <h2 class="year_chek">Перевір в який рік ти народився</h2>
    <div class="year_content">
      <div class="year__wraper">
        <input type="number" id="year-input" placeholder="Введіть рік народження" />
        <button class="year">
          <img src="/src/images/search-loop.svg" alt="loop" />
        </button>
      </div>
      <p class="message" id="message"></p>
    </div>
  </div>


  <hr class="border">
  </hr>
</section>