<section class="year-check">


    <div class="inner-container">
       
        <h1 class="pop_games">Популярні інетрактивні ігри</h1>
        <div class="border"></div>
       
        <h2 class="year_chek">Перевір в який рік ти народився</h2>

        <div class="year__wraper">
            <input type="number" id="year-input" placeholder="Введіть рік народження">
            <button onclick="checkYear()" class="year"><img src="/src/images/search-loop.svg" alt="loop"></button>    
        </div>
    </div>
    <div class="message" id="message"></div>

    <div class="border"></div>  
</section>

