.calculator {
  padding: 36px 230px 0;
  &__title {
    @include text(16px);
    color: getColor('background-text-primary');
    text-align: center;
  }
  &__input {
    background-color: getColor('input-background');
    border: 1px solid getColor('input-background');
    box-shadow: getColor('box-shadow');
    width: 136px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 20px;
    &::placeholder {
      @include text;
      color: getColor('input-placeholder');
      text-align: center;
    }
    &:hover,
    &:focus {
      outline: none;
    }
  }
  &-flex-container {
    width: 629px;
    margin: 36px auto 0;
    @include flex(space-between);
  }
  &-result-container {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: getColor('input-background');
  }
  &__result{
    @include text;
    color: getColor('input-placeholder');
  }
}
.calculator-operators-list {
  width: 61px;
  @include flex($wrap: wrap);
  gap: 10px;
  &__button {
    @include text;
    border-radius: 20px;
    padding: 5px 10px;
    width: 25px;
    height: 25px;
    box-shadow: getColor('box-shadow');
    background-color: getColor('background-text-primary');
    color: getColor('secondary-text');
  }
}
