.modal{
    width: 576px;
    height: 316px;
    border-radius: black;
    border-radius: 20px;
    padding: 30px, 30px, 30px, 30px;
}
.modal__close{
    margin-top: 30px;
    margin-right: 30px;
}
.modal-content{
    width: 392px;
    height: 223px;
}

.modal-content__input{
    background-color: getColor(input-background);
    color: getColor(input-placeholder);
    border-radius: 20px;
    margin-top:18px;
    margin-bottom: 18px;
    width: 169px;
    height: 35px;
}
.modal-content__button{
    background-color: getColor(background-text-primary);
    color: getColor(secondary-text);
    border-radius: 20xp;
    margin: 10px, 20px, 10px, 20px;
    width: 105px;
    height: 35px;
}
.modal__svg{
    width:30px;
    height:30px;
    color: getColor(background-text-primary);
}
.sword{
    margin-left: 11px;
    margin-right: 21px;
    margin-bottom: 102px;
}
.game-development{
    margin-left: 21px;
    margin-right: 11px;
    margin-bottom: 102px;
}
.puzzle{
    margin-right: 55px;
    margin-bottom: 26px;
}
.tic-tac-toe{
    margin-left: 55px;
    margin-bottom: 26px;
}

  