.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider__title{
    margin: 0;
}
.button-previus{
    cursor: pointer;
    user-select: none;
}
.slider-list{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider-list__slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slider-list__box{
    width:150px;
    height:150px;
    background-color: getColor('card-background');
    border-radius: 20px;
}
.slider-list__name{
    margin-top:20px;
    margin-bottom:20px;
    color: getColor('background-text-primary');
}
.slider-list__info{
    @mixin text{$fsize:12px; $lheight:normal; $fweight:400; $fstyle: normal };
    color: detColor('background-text-primary');
}
.button-text{
    cursor: pointer;
    user-select: none;
}