.slider__title{
    margin: 0;
}
.slider-list{
    display: flex;
    justify-content: space-between;
}
.slider-list__box{
    width:150px;
    height:150px;
    background-color: getColor('card-background');
    border-radius: 20px;
}
.slider-list__name{
    margin-top:20px;
    color: getColor('background-text-primary');
}
.slider-list__info{
    
}