.scientist {
  padding: 36px 0;

  .inner-container {
    @include flex($direction: column, $wrap: wrap);
  }
}

.scientist-list {
  @include flex($wrap: wrap);
  row-gap: 59px;
  column-gap: 36px;
  margin-bottom: 36px;
  max-width: 577px;

  &__item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #d9d9d9;
  }
}

.facts-list {
  @include flex($wrap: wrap);
  row-gap: 36px;
  column-gap: 20px;
  width: 100%;
  max-width: 770px;
  &__item {
    padding: 10px 20px;
    border-radius: 20px;
    background: getColor('background-text-primary');
    box-shadow: 3px 3px 0px 0px getColor('box-shadow');
  }
  &__p {
    color: getColor('secondary-text');
    @include text();
  }
}
