.rock-paper{
    @include flex($direction: column);
    gap: 36px;
    padding: 36px 220px 0 417px;
    &__title{
        @include text(16px);
        color: getColor('background-text-primary');
    }
    &__result{
        @include text(16px);
        color: getColor('green-text');
    }
    &-computer-option{
        @include text;
        color: getColor('secondary-text');
        border-radius: 20px;
        padding: 10px 20px;
        background-color: getColor('background-text-primary');
    }
    &-score__text{
        @include text;
        color: getColor('background-text-primary');
    }
}
.rock-paper-list{
    width: 256px;
    @include flex(space-between); 
    &-container{
    width: 463px;
    @include flex(space-between);
    }
    &__button{
        border-radius: 20px;
        padding: 10px;
        width: 60px;
        height: 60px;
        background-color: getColor('background-text-primary');
    }
    &__icon{
        width: 40px;
        height: 40px;
    }
}
