.rock-paper {
  padding-top: 36px;
  .inner-container {
    @include flex($direction: column);
    gap: 36px;
  }
  &__title {
    @include text(16px);
    color: var(--background-text-primary);
  }
  &__result {
    @include text;
    &--red {
      color: var(--red-text);
    }
    &--grey{
      color: var(--input-placeholder);
    }
    &--green {
      color: var(--green-text);
    }
  }
  &-computer-option__btn {
    @include text;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #000;
  }
}
.rock-paper-list {
  width: 256px;
  @include flex(space-between);
  &-container {
    width: 456px;
    @include flex(space-between);
    margin-left: 220px;
  }
  &__button {
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    &--computer {
      transform: scale(1.03);
      box-shadow: 0 0 20px var(--red-text);
    }
    &--draw{
          transform: scale(1.05);
      box-shadow: 0 0 20px var(--input-placeholder);
    }
    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
      transform: translateY(-2px);
    }
    &--person {
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
      transform: scale(1.05);
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}
.rock-paper-score__title {
  @include text;
  color: var(--background-text-primary);
}
.rock-paper-score-list {
  &__text {
    @include text;
    color: var(--background-text-primary);
  }
}
